:root {
    --dark-gray: #4d5057;
    --dark-green: #4e6e5d;
    --shamrock: #4da167;
    --dark-pastel: #41c745;
    --linen: #f9ebe0;
    --faded-bg: #41c74670;
    --faded-text: #ddddd6;
}

.hidden {
    display: none;
}

.smooth-scroll {
    scroll-behavior: smooth;
}

.flex-start{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    /* width: %; */
}

.gutter {
    width: 90%;
}

.user-response {
    margin-bottom: 0;
    padding: 0.1rem 1.25rem; 
    border-radius: 0.27rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
}

.user-message {
    background-color: var(--shamrock);
    padding: 0.5rem 1.28rem;
    margin-bottom: 0; 
    border-radius: 0.27rem;
}

.ai-response {
    padding: 0.3rem 1.25rem; 
    border-radius: 0.27rem;
    margin-bottom: 0;
}

.ai-message {
    background-color: var(--faded-text);
    color: black;
    padding: 0.3rem 1.25rem; 
    margin-bottom: 0;
    border-radius: 0.27rem;
}

.sender {
    font-weight: 600;
    margin: 2px 0;
    padding-bottom: 0;
}

.content {
    margin-top: 2px;
}

button {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
    padding: 0.2rem 0.3rem;
    margin-left: 0;
    border-radius: 0.2rem;
    transition: background-color 0.4s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--faded-bg);
}

.loading-container {
    height: 100%;
    width: 100%;
}
.dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
}
.dot {
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
    margin-right: 0;
}

.dot:nth-child(1) {
    animation-delay: -0.3s;
}

.dot:nth-child(2) {
    animation-delay: -0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        background-color: var(--faded-bg);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
    50% {
        transform: scale(1.2);
        background-color: var(--shamrock);
        box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
    100%{
        transform: scale(0.8);
        background-color: var(--faded-bg);
        box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
}