.page-title {
    padding: 5%, 13%;
    margin: 5%;
}

.form-card {
    padding: 5%, 13%;
    margin: 5%;
}

.login-form-button {
    width: 100%
}

.signup-btn {
    background-color: transparent;
    border-color: transparent;
    color: black;
    transition: color 0.3s ease-in-out;

}

.signup-btn:hover {
    color: blue;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
}