nav {
    background-color: #333333;
}


.title {
    padding: 5%, 13%;
    margin: 5%;
}

.home-link {
    color: white;
}

.home-link:hover {
    color: #41C745;
}

.menu-item-custom {
    color: white;
}
